@font-face {
  font-family: 'shipporiantique';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ShipporiAntiqueB1-Regular.ttf") format("truetype");
}

/* line 5, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards {
  padding: 0;
  max-width: 80%;
  list-style-type: none;
  font-family: "shipporiantique";
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

/* line 14, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card {
  position: relative;
  display: inline-block;
  flex: 1;
  margin-right: 3em;
  height: 23em;
  box-sizing: border-box;
}

/* line 22, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_header,
.course_cards .course_card .course_card_brief_info,
.course_cards .course_card button {
  width: 80%;
  background-color: rgba(175, 130, 247, 0.6);
  border: 0.2em solid rgba(175, 130, 247, 0.5);
  transition: background-color 0.5s;
}

/* line 32, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_header,
.course_cards .course_card .course_card_brief_info {
  float: right;
  margin-top: 1.5em;
  border-radius: 0.5em;
  padding: 0.4em;
}

/* line 40, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_header {
  box-sizing: border-box;
}

/* line 44, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_header .course_card_course_name,
.course_cards .course_card .course_card_header .course_card_course_catchphrase {
  font-weight: normal;
  margin: 0;
}

/* line 50, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_header .course_card_course_name {
  float: left;
  font-size: 1em;
}

/* line 55, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_header .course_card_course_catchphrase {
  float: right;
  font-size: 0.9em;
}

/* line 61, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_brief_info {
  box-sizing: border-box;
  clear: both;
  position: relative;
  height: 50%;
}

/* line 67, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_brief_info .course_card_teacher_info {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

/* line 72, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_brief_info .course_card_teacher_info li {
  display: inline-block;
}

/* line 76, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_brief_info .course_card_teacher_info .course_card_teacher_image,
.course_cards .course_card .course_card_brief_info .course_card_teacher_info .course_card_teacher_name {
  box-sizing: border-box;
}

/* line 81, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_brief_info .course_card_teacher_info .course_card_teacher_image {
  border-radius: 1em;
  width: 25%;
  position: absolute;
  top: -1em;
  border: 0.2em solid #af82f7;
}

/* line 90, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_brief_info .course_card_teacher_info .course_card_teacher_name {
  width: 70%;
  right: 0;
  position: absolute;
  top: 0.5em;
  text-decoration: none;
  color: #000;
}

/* line 101, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card button {
  font-size: 1em;
  position: absolute;
  display: block;
  border-radius: 10em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  right: 0;
  bottom: 1em;
}

/* line 112, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_background_image {
  max-width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  border-radius: 1em;
  border: 0.2em solid #af82f7;
}

/* line 127, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_card:hover .course_card_header,
.course_card:hover .course_card_brief_info,
.course_card:hover button {
  background-color: #af82f7;
  border: 0.2em solid #af82f7;
}

/*# sourceMappingURL=coursecards.css.map */