@font-face {
  font-family: 'shipporiantique';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ShipporiAntiqueB1-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'shipporiantique';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ShipporiAntiqueB1-Regular.ttf") format("truetype");
}

/* line 7, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel {
  padding: 0;
  max-width: 100%;
  display: flex;
  list-style-type: none;
  text-align: center;
  font-family: "shipporiantique";
}

/* line 15, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel :first-child,
.subject_reel :last-child {
  transition: margin 0.3s;
}

/* line 20, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel :first-child:hover {
  margin-left: 1em;
  margin-right: -1em;
}

/* line 26, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel :last-child:hover {
  margin-right: 1em;
  margin-left: -1em;
}

/* line 31, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel li {
  flex: 1;
  height: 15em;
  transition: transform 0.3s;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  box-sizing: border-box;
  font-size: 1.3em;
  position: relative;
}

/* line 43, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel li button {
  display: block;
  position: absolute;
  bottom: 1.3em;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  border-radius: 10em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  width: 70%;
}

/* line 56, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel li #subject_reel_language_btn,
.subject_reel li #subject_reel_economics_btn,
.subject_reel li #subject_reel_geography_btn,
.subject_reel li #subject_reel_science_btn,
.subject_reel li #subject_reel_mathematics_btn,
.subject_reel li #subject_reel_technology_btn,
.subject_reel li #subject_reel_creative_arts_btn,
.subject_reel li #subject_reel_life_orientation_btn {
  margin-left: auto;
  margin-right: auto;
  font-size: 0.7em;
  box-sizing: border-box;
}

/* line 70, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel li #subject_reel_mathematics_btn {
  border: 0.15em solid #262626;
  background-color: rgba(0, 191, 255, 0.7);
  transition: background-color 0.5s;
}

/* line 77, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel li #subject_reel_mathematics_btn:hover {
  background-color: rgba(0, 191, 255, 0.9);
}

/* line 82, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel li:hover {
  -webkit-box-shadow: 2px 3px 8px #000;
  -moz-box-shadow: 2px 3px 8px #000;
  box-shadow: 2px 3px 8px #000;
  transform: scale(1.1, 1.1);
  z-index: 2;
}

/* line 90, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel #subject_reel_language {
  background-color: #ff4d4d;
}

/* line 94, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel #subject_reel_economics {
  background-color: #ff8533;
}

/* line 98, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel #subject_reel_geography {
  background-color: #ffdb4d;
}

/* line 102, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel #subject_reel_science {
  background-color: #66ff66;
}

/* line 106, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel #subject_reel_mathematics {
  background-color: #66d9ff;
  background-image: url("../../images/blue_girl.png");
  /* The image used */
  background-position: center;
  background-size: cover;
}

/* line 113, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel #subject_reel_technology {
  background-color: #bfbfbf;
}

/* line 117, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel #subject_reel_creative_arts {
  background-color: #af82f7;
}

/* line 121, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel #subject_reel_life_orientation {
  background-color: #ffaec9;
}

@font-face {
  font-family: 'shipporiantique';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ShipporiAntiqueB1-Regular.ttf") format("truetype");
}

/* line 3, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards {
  padding: 0;
  max-width: 80%;
  list-style-type: none;
  font-family: "shipporiantique";
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

/* line 12, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card {
  position: relative;
  display: inline-block;
  flex: 1;
  margin-right: 3em;
  height: 23em;
  box-sizing: border-box;
}

/* line 20, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_header,
.course_cards .course_card .course_card_brief_info,
.course_cards .course_card button {
  width: 80%;
  background-color: rgba(175, 130, 247, 0.8);
  border: 0.2em solid rgba(175, 130, 247, 0.5);
  transition: background-color 0.5s;
}

/* line 30, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_header,
.course_cards .course_card .course_card_brief_info {
  float: right;
  margin-top: 1.5em;
  border-radius: 0.5em;
  padding: 0.4em;
}

/* line 38, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_header {
  box-sizing: border-box;
}

/* line 42, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_header .course_card_course_name,
.course_cards .course_card .course_card_header .course_card_course_catchphrase {
  font-weight: normal;
  margin: 0;
}

/* line 48, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_header .course_card_course_name {
  float: left;
  font-size: 1em;
}

/* line 53, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_header .course_card_course_catchphrase {
  float: right;
  font-size: 0.9em;
}

/* line 59, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_brief_info {
  box-sizing: border-box;
  clear: both;
  position: relative;
  height: 50%;
}

/* line 65, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_brief_info .course_card_teacher_info {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

/* line 70, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_brief_info .course_card_teacher_info li {
  display: inline-block;
}

/* line 74, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_brief_info .course_card_teacher_info .course_card_teacher_image,
.course_cards .course_card .course_card_brief_info .course_card_teacher_info .course_card_teacher_name {
  box-sizing: border-box;
}

/* line 79, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_brief_info .course_card_teacher_info .course_card_teacher_image {
  border-radius: 1em;
  width: 25%;
  position: absolute;
  top: -1em;
  border: 0.2em solid #af82f7;
}

/* line 88, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_brief_info .course_card_teacher_info .course_card_teacher_name {
  width: 70%;
  right: 0;
  position: absolute;
  top: 0.5em;
  text-decoration: none;
  color: #000;
}

/* line 99, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card button {
  font-size: 1em;
  position: absolute;
  display: block;
  border-radius: 10em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  right: 0;
  bottom: 1em;
}

/* line 110, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_background_image {
  max-width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  border-radius: 1em;
  border: 0.2em solid #af82f7;
}

/* line 124, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_card:hover .course_card_header,
.course_card:hover .course_card_brief_info,
.course_card:hover button {
  background-color: #af82f7;
  border: 0.2em solid #af82f7;
}

/* line 5, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
body {
  margin: 0;
  background-color: #262626;
  overflow: hidden;
}

/* line 11, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
button {
  border: none;
}

/* line 15, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
button:hover {
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */