@font-face {
  font-family: 'shipporiantique';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ShipporiAntiqueB1-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'shipporiantique';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ShipporiAntiqueB1-Regular.ttf") format("truetype");
}

/* line 7, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel {
  padding: 0;
  max-width: 100%;
  display: flex;
  list-style-type: none;
  text-align: center;
  font-family: "shipporiantique";
}

/* line 15, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel :first-child,
.subject_reel :last-child {
  transition: margin 0.3s;
}

/* line 20, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel :first-child:hover {
  margin-left: 1em;
  margin-right: -1em;
}

/* line 26, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel :last-child:hover {
  margin-right: 1em;
  margin-left: -1em;
}

/* line 31, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel li {
  flex: 1;
  height: 15em;
  transition: transform 0.3s;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  box-sizing: border-box;
  font-size: 1.3em;
  position: relative;
}

/* line 43, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel li button {
  display: block;
  position: absolute;
  bottom: 1.3em;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  border: none;
  border-radius: 10em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  width: 70%;
}

/* line 57, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel li #subject_reel_language_btn,
.subject_reel li #subject_reel_economics_btn,
.subject_reel li #subject_reel_geography_btn,
.subject_reel li #subject_reel_science_btn,
.subject_reel li #subject_reel_mathematics_btn,
.subject_reel li #subject_reel_technology_btn,
.subject_reel li #subject_reel_creative_arts_btn,
.subject_reel li #subject_reel_life_orientation_btn {
  margin-left: auto;
  margin-right: auto;
  font-size: 0.7em;
  box-sizing: border-box;
}

/* line 71, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel li #subject_reel_mathematics_btn {
  border: 0.15em solid #262626;
  background-color: rgba(0, 191, 255, 0.7);
  transition: background-color 0.5s;
}

/* line 78, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel li #subject_reel_mathematics_btn:hover {
  background-color: rgba(0, 191, 255, 0.9);
}

/* line 83, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel li:hover {
  -webkit-box-shadow: 2px 3px 8px #000;
  -moz-box-shadow: 2px 3px 8px #000;
  box-shadow: 2px 3px 8px #000;
  transform: scale(1.1, 1.1);
  z-index: 2;
}

/* line 91, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel #subject_reel_language {
  background-color: #ff4d4d;
}

/* line 95, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel #subject_reel_economics {
  background-color: #ff8533;
}

/* line 99, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel #subject_reel_geography {
  background-color: #ffdb4d;
}

/* line 103, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel #subject_reel_science {
  background-color: #66ff66;
}

/* line 107, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel #subject_reel_mathematics {
  background-color: #66d9ff;
  background-image: url("../../images/blue_girl.png");
  /* The image used */
  background-position: center;
  background-size: cover;
}

/* line 114, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel #subject_reel_technology {
  background-color: #bfbfbf;
}

/* line 118, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel #subject_reel_creative_arts {
  background-color: #af82f7;
}

/* line 122, ../../KwlSchool/kwlschool/frontend/styling/scss/subjectreel.scss */
.subject_reel #subject_reel_life_orientation {
  background-color: #ffaec9;
}

@font-face {
  font-family: 'shipporiantique';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ShipporiAntiqueB1-Regular.ttf") format("truetype");
}

/* line 3, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards {
  padding: 0;
  max-width: 80%;
  list-style-type: none;
  font-family: "shipporiantique";
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

/* line 12, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card {
  position: relative;
  display: inline-block;
  flex: 1;
  margin-right: 3em;
  height: 23em;
  box-sizing: border-box;
}

/* line 20, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_header {
  margin-top: 1.5em;
  float: right;
  background-color: rgba(175, 130, 247, 0.6);
  border: 0.2em solid rgba(175, 130, 247, 0.3);
  border-radius: 0.5em;
  width: 75%;
  padding: 0.4em;
  transition: background-color 1s;
}

/* line 31, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_header .course_card_course_name {
  margin: 0;
  float: left;
  font-size: 1em;
  font-weight: normal;
}

/* line 38, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_header .course_card_teacher_name {
  float: right;
  font-size: 0.9em;
  text-decoration: none;
}

/* line 45, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_header .course_card_teacher_name:hover {
  text-shadow: -1px -1px 0 #2DD785, 1px -1px 0 #2DD785, -1px 1px 0 #2DD785, 1px 1px 0 #2DD785;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

/* line 58, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_cards .course_card .course_card_background_image {
  max-width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  border-radius: 1em;
  border: 0.2em solid #af82f7;
}

/* line 72, ../../KwlSchool/kwlschool/frontend/styling/scss/coursecards.scss */
.course_card:hover .course_card_header {
  background-color: rgba(175, 130, 247, 0.9);
  border: 0.2em solid rgba(175, 130, 247, 0.9);
}

/* line 5, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
body {
  margin: 0;
  background-color: #262626;
  overflow: hidden;
}

/* line 11, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
button:hover {
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */