@font-face {
  font-family: 'shipporiantique';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ShipporiAntiqueB1-Regular.ttf") format("truetype");
}

/* line 3, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
body {
  margin: 0;
  background-color: #262626;
  overflow: hidden;
}

/* line 9, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
button:hover {
  cursor: pointer;
}

/* line 13, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
.subject_reel {
  padding: 0;
  max-width: 100%;
  display: flex;
  list-style-type: none;
  text-align: center;
  font-family: "shipporiantique";
}

/* line 21, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
.subject_reel :first-child,
.subject_reel :last-child {
  transition: margin 0.3s;
}

/* line 26, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
.subject_reel :first-child:hover {
  margin-left: 1em;
  margin-right: -1em;
}

/* line 32, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
.subject_reel :last-child:hover {
  margin-right: 1em;
  margin-left: -1em;
}

/* line 37, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
.subject_reel li {
  flex: 1;
  height: 15em;
  transition: transform 0.3s;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  box-sizing: border-box;
  font-size: 1.3em;
  position: relative;
}

/* line 49, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
.subject_reel li button {
  display: block;
  position: absolute;
  bottom: 1.3em;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  border: none;
  border-radius: 10em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  width: 70%;
}

/* line 63, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
.subject_reel li #subject_reel_language_btn,
.subject_reel li #subject_reel_economics_btn,
.subject_reel li #subject_reel_geography_btn,
.subject_reel li #subject_reel_science_btn,
.subject_reel li #subject_reel_mathematics_btn,
.subject_reel li #subject_reel_technology_btn,
.subject_reel li #subject_reel_creative_arts_btn,
.subject_reel li #subject_reel_life_orientation_btn {
  margin-left: auto;
  margin-right: auto;
  font-size: 0.7em;
  box-sizing: border-box;
}

/* line 77, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
.subject_reel li #subject_reel_mathematics_btn {
  border: 0.15em solid #262626;
  background-color: rgba(0, 191, 255, 0.7);
  transition: background-color 0.5s;
}

/* line 84, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
.subject_reel li #subject_reel_mathematics_btn:hover {
  background-color: rgba(0, 191, 255, 0.9);
}

/* line 89, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
.subject_reel li:hover {
  -webkit-box-shadow: 2px 3px 8px #000;
  -moz-box-shadow: 2px 3px 8px #000;
  box-shadow: 2px 3px 8px #000;
  transform: scale(1.1, 1.1);
  z-index: 2;
}

/* line 97, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
.subject_reel #subject_reel_language {
  background-color: #ff4d4d;
}

/* line 101, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
.subject_reel #subject_reel_economics {
  background-color: #ff8533;
}

/* line 105, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
.subject_reel #subject_reel_geography {
  background-color: #ffdb4d;
}

/* line 109, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
.subject_reel #subject_reel_science {
  background-color: #66ff66;
}

/* line 113, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
.subject_reel #subject_reel_mathematics {
  background-color: #66d9ff;
  background-image: url("../../images/blue_girl.png");
  /* The image used */
  background-position: center;
  background-size: cover;
}

/* line 120, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
.subject_reel #subject_reel_technology {
  background-color: #bfbfbf;
}

/* line 124, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
.subject_reel #subject_reel_creative_arts {
  background-color: #af82f7;
}

/* line 128, ../../KwlSchool/kwlschool/frontend/styling/scss/index.scss */
.subject_reel #subject_reel_life_orientation {
  background-color: #ffaec9;
}

/*# sourceMappingURL=index.css.map */