@import "globals";

.course_cards {
    padding: 0;
    max-width: 80%;
    list-style-type: none;
    font-family: "shipporiantique";
    margin-right: auto;
    margin-left: auto;
    display: flex;

    .course_card {
        position: relative;
        display: inline-block;
        flex: 1;
        margin-right: 3em;
        height: 23em;
        box-sizing: border-box;

        .course_card_header {
            margin-top: 1.5em;
            float: right;
            // color taken from $purple
            background-color: rgba(175, 130, 247, 0.6);
            border: 0.2em solid rgba(175, 130, 247, 0.3);
            border-radius: 0.5em;
            width: 75%;
            padding: 0.4em;
            transition: background-color 1s;

            .course_card_course_name {
                margin: 0;
                float: left;
                font-size: 1em;
                font-weight: normal;
            }

            .course_card_teacher_name {
                float: right;
                font-size: 0.9em;
                text-decoration: none;

            }

            .course_card_teacher_name:hover {
                text-shadow:
                -1px -1px 0 #2DD785,
                1px -1px 0 #2DD785,
                -1px 1px 0 #2DD785,
                1px 1px 0 #2DD785;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;
            }
        }

        .course_card_background_image {
            max-width: 80%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
            border-radius: 1em;
            border: 0.2em solid $purple;
        }
    }
}

.course_card:hover {
    .course_card_header {
        background-color: rgba(175, 130, 247, 0.9);
        border: 0.2em solid rgba(175, 130, 247, 0.9);
    }
}