@import "globals";

.course_cards {
    padding: 0;
    max-width: 80%;
    list-style-type: none;
    font-family: "shipporiantique";
    margin-right: auto;
    margin-left: auto;
    display: flex;

    .course_card {
        position: relative;
        display: inline-block;
        flex: 1;
        margin-right: 3em;
        height: 23em;
        box-sizing: border-box;

        .course_card_header,
        .course_card_brief_info,
        button {
            width: 80%;
            // color taken from $purple
            background-color: rgba(175, 130, 247, 0.8);
            border: 0.2em solid rgba(175, 130, 247, 0.5);
            transition: background-color 0.5s;
        }

        .course_card_header,
        .course_card_brief_info {
            float: right;
            margin-top: 1.5em;
            border-radius: 0.5em;
            padding: 0.4em;
        }

        .course_card_header {
            box-sizing: border-box;
//             height: 15%;

            .course_card_course_name,
            .course_card_course_catchphrase {
                font-weight: normal;
                margin: 0;
            }

            .course_card_course_name {
                float: left;
                font-size: 1em;
            }

            .course_card_course_catchphrase {
                float: right;
                font-size: 0.9em;
            }
        }

        .course_card_brief_info {
            box-sizing: border-box;
            clear: both;
            position: relative;
            height: 50%;

            .course_card_teacher_info {
                list-style-type: none;
                padding: 0;
                width: 100%;

                li {
                    display: inline-block;
                }

                .course_card_teacher_image,
                .course_card_teacher_name {
                    box-sizing: border-box;
                }

                .course_card_teacher_image {
                    border-radius: 1em;
                    width: 25%;
                    position: absolute;
                    top: -1em;

                    border: 0.2em solid $purple;
                }

                .course_card_teacher_name {
                    width: 70%;
                    right: 0;
                    position: absolute;
                    top: 0.5em;
                    text-decoration: none;
                    color: $black;
                }
            }
        }

        button {
            font-size: 1em;
            position: absolute;
            display: block;
            border-radius: 10em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            right: 0;
            bottom: 1em;
        }

        .course_card_background_image {
            max-width: 80%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
            border-radius: 1em;
            border: 0.2em solid $purple;
        }
    }
}

.course_card:hover {
    .course_card_header,
    .course_card_brief_info,
    button {
        background-color: rgba(175, 130, 247, 1);
        border: 0.2em solid rgba(175, 130, 247, 1);
    }
}