@import "globals";

body {
    margin: 0;
    background-color: $gray_d;
    overflow: hidden;
}

button:hover {
    cursor: pointer;
}

.subject_reel {
    padding: 0;
    max-width: 100%;
    display: flex;
    list-style-type: none;
    text-align: center;
    font-family: "shipporiantique";

    :first-child,
    :last-child {
        transition: margin 0.3s;
    }

    :first-child:hover {
        margin-left: 1em;
        margin-right: -1em;
        // TODO: Stop 'bouncing' when mouse rests far left/far right
    }

    :last-child:hover {
        margin-right: 1em;
        margin-left: -1em;
    }

    li {
        flex: 1;
        height: 15em;
        transition: transform 0.3s;
        padding: {
            top: 0.5em;
            bottom: 0.5em;
        }
        box-sizing: border-box;
        font-size: 1.3em;
        position: relative;

        button {
            display: block;
            position: absolute;
            bottom: 3em;
            left: 50%;
            -ms-transform: translate(-50%);
            transform: translate(-50%);
            border: none;
            background-color: red;
        }

        #subject_reel_language_btn,
        #subject_reel_economics_btn,
        #subject_reel_geography_btn,
        #subject_reel_science_btn,
        #subject_reel_mathematics_btn,
        #subject_reel_technology_btn,
        #subject_reel_creative_arts_btn,
        #subject_reel_life_orientation_btn {
            margin-left: auto;
            margin-right: auto;
        }
    }

    li:hover {
        -webkit-box-shadow: 2px 3px 8px $black;
        -moz-box-shadow: 2px 3px 8px $black;
        box-shadow: 2px 3px 8px $black;
        transform: scale(1.1, 1.1);
        z-index: 2;
    }

    #subject_reel_language {
        background-color: $red;
    }

    #subject_reel_economics {
        background-color: $orange;
    }

    #subject_reel_geography {
        background-color: $yellow;
    }

    #subject_reel_science {
        background-color: $green;
    }

    #subject_reel_mathematics {
        background-color: $blue;
    }

    #subject_reel_technology {
        background-color: $gray;
    }

    #subject_reel_creative_arts {
        background-color: $purple;
    }

    #subject_reel_life_orientation {
        background-color: $pink;
    }
}