@import "globals";
@import "subjectreel";
@import "coursecards";

body {
    margin: 0;
    background-color: $gray_d;
//     overflow: hidden;
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
}