// TODO: max-width difference from width
// TODO: write query to get screen width
// TODO: based on width update amount of course reel cards to show
// TODO: scroll the cards when they are greater than the width
@import "globals";

.subject_reel {
    padding: 0;
    max-width: 98%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    list-style-type: none;
    text-align: center;
    font-family: "shipporiantique";

    :first-child,
    :last-child {
        transition: margin 0.3s;
    }

    :first-child:hover {
        margin-left: 1em;
        margin-right: -1em;
        // TODO: Stop 'bouncing' when mouse rests far left/far right
    }

    :last-child:hover {
        margin-right: 1em;
        margin-left: -1em;
    }

    li {
        flex: 1;
        height: 15em;
        transition: transform 0.3s;
        padding: {
            top: 0.5em;
            bottom: 0.5em;
        }
        box-sizing: border-box;
        font-size: 1.3em;
        position: relative;

        button {
            display: block;
            position: absolute;
            bottom: 1.3em;
            left: 50%;
            -ms-transform: translate(-50%);
            transform: translate(-50%);
            border-radius: 10em;
            padding-top: 0.8em;
            padding-bottom: 0.8em;
            width: 70%;
        }

        #subject_reel_language_btn,
        #subject_reel_economics_btn,
        #subject_reel_geography_btn,
        #subject_reel_science_btn,
        #subject_reel_mathematics_btn,
        #subject_reel_technology_btn,
        #subject_reel_creative_arts_btn,
        #subject_reel_life_orientation_btn {
            margin-left: auto;
            margin-right: auto;
            font-size: 0.7em;
            box-sizing: border-box;
        }

        #subject_reel_mathematics_btn {
            // TODO: add key frames and slow animate button on hover
            border: 0.15em solid $gray_d;
            background-color: rgba(0, 191, 255, 0.7);
            transition: background-color 0.5s;
        }

        #subject_reel_mathematics_btn:hover {
            background-color: rgba(0, 191, 255, 0.9);
        }
    }

    li:hover {
        -webkit-box-shadow: 2px 3px 8px $black;
        -moz-box-shadow: 2px 3px 8px $black;
        box-shadow: 2px 3px 8px $black;
        transform: scale(1.1, 1.1);
        z-index: 2;
    }

    #subject_reel_language {
        background-color: $red;
    }

    #subject_reel_economics {
        background-color: $orange;
    }

    #subject_reel_geography {
        background-color: $yellow;
    }

    #subject_reel_science {
        background-color: $green;
    }

    #subject_reel_mathematics {
        background-color: $blue;
        background-image: url("../../images/blue_girl.png"); /* The image used */
        background-position: center;
        background-size: cover;
    }

    #subject_reel_technology {
        background-color: $gray;
    }

    #subject_reel_creative_arts {
        background-color: $purple;
    }

    #subject_reel_life_orientation {
        background-color: $pink;
    }
}